<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>question</key>
			<string>How old is Barack Obama?</string>
			<key>answers</key>
			<array>
				<string>&gt; 50</string>
				<string>&lt; 50</string>
				<string>35 ☺️</string>
				<string>&gt; 60 👴🏿</string>
			</array>
			<key>answer</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>question</key>
			<string>Google CEO</string>
			<key>answers</key>
			<array>
				<string>Larry Page</string>
				<string>Sergey Brin</string>
				<string>Sundar Pichai</string>
				<string>Andy Rubin</string>
			</array>
			<key>answer</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>question</key>
			<string>When was Tim Cook born?</string>
			<key>answers</key>
			<array>
				<string>1967</string>
				<string>1970</string>
				<string>1940</string>
				<string>1960</string>
			</array>
			<key>answer</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>question</key>
			<string>When did Steve Jobs die?</string>
			<key>answers</key>
			<array>
				<string>2008</string>
				<string>2010</string>
				<string>2011</string>
				<string>2012</string>
			</array>
			<key>answer</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
